.Main {
    padding: 24px;
    width: 100%;

}

.Search {
    display: flex;
    flex-direction: column;
}

.ImagesContainer {
    columns: 3;
    column-gap: 5px;
    width: 80%;
    margin: 2px auto;
}

.ImagesContainer img {
    width: 100%;
    margin: 0;
    padding: 5px;
}