/* Karla */
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;600;800&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Karla", sans-serif;
	color: #171923;
}

.MainContainer {
	display: flex;
}

.ContentContainer {
	padding: 24px;
}

.divider16 {
	height: 16px;
	width: 100%;
}

.divider24 {
	height: 24px;
	width: 100%;
}

.BookmarkAction {
	cursor: pointer;
	display: inline;
}

a {
    text-decoration: none;
    color: #171923;
}