.BookmarkList {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}

.BookmarkPhoto {
	max-height: 320px;
	border-radius: 8px;
}

.PhotoInfo {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 4px;
}
